

<section class="card">
  <a href="/sytle/{{id}}">
    <header>{{description}}</header>

    <div class="card-body">
      <img src="./images/{{style.filename}}" alt="{{style.description}}">
      <p>{{price}}</p>
    </div>
  </a>
</section>