

<section class="card">
  <a href="/style/{{id}}">
    <header>{{description}}</header>

    <div class="card-body">
      <img src="/images/{{filename}}" alt="{{description}}">
      <p>{{price}}</p>
    </div>
  </a>
</section>