


{{#if loggedIn}}
<section class="container">
  <img src="./images/{{styleData.filename}}" alt="{{styleData.description}}">
  <div class="shoe-details">
    <h3>{{styleData.description}}</h3>
    <p>By: {{styleData.price}}</p>
  </div>
</section>
{{else}}
<a href="/login">You must login first to view this page</a>
{{/if}}