<section class="shoe-style">
  <img src="/images/{{shoeStyle.filename}}" alt="{{shoeStyle.description}}">
  <div class="shoe-details">
    <h3>{{shoeStyle.title}}</h3>
    <p>{{shoeStyle.description}}</p>
    <p>{{shoeStyle.price}}</p>
  </div>
</section>