


{{#if loggedIn}}
<section class="container">
  <img src="/images/{{styles.filename}}" alt="{{styles.description}}">
  <div class="shoe-details">
    <h3>{{styles.description}}</h3>
    <p>Price: {{styles.price}}</p>
  </div>
</section>
{{else}}
<a href="/login">You must login first to view this page</a>
{{/if}}